@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');

$black: var(--dark-color, #21243D);
$font: Heebo;

.container {
    width: 856px;
    margin: 0 auto;
}

.top-nav {
    display: none;
}

.nav {
    &_ul {
        color: $black ;
        display: flex;
        gap: 33px;
        justify-content: right;
        padding-top: 27px;
        padding-right: 60px;
            font-family: $font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
            text-decoration: none;
    
    }
    &_li {
        :hover {
            color: var(--primary, #FF6464);
            transition: 0.1s;
        }
    }
}

.header {
    &_h1 {
        margin-top: 158px;
        color: $black;
        font-family: $font;
        font-size: 44px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 136.364% */
    }
    &_text {
        margin-top: 40px;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &_btn {
        margin-bottom: 71px;
        margin-top: 38px;
        width: 208px;
        height: 47px;
        flex-shrink: 0;
        border-radius: 2px;
        background: var(--primary, #FF6464);
        border: none;
            color: #FFF;
            font-family: $font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            cursor: pointer;
    }
    &_img {
        margin-top: 155px;
        padding-left: 85px;
    }
}

.blog {
    margin-top: 71px;
    clear: both;
    height: 396px;
    flex-shrink: 0;
    background: #EDF7FA;
    &_information {
        margin-top: 78px;
        display: flex;
        justify-content: space-between;
    }
    &_post {
        padding: 23px 27px 28px 23px;
        width: 418px;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 4px 10px 0px rgba(187, 225, 250, 0.25);
    }
    &_posts {
        margin-top: 23px;
        display: flex;
        gap: 30px;
    }
}

.information {
    &_viewall {
        display: block;
        color: var(--secondry, #00A8CC);
        text-align: right;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px; /* 272.727% */
        cursor: pointer;
    }
}

.post {
    &_header {
        cursor: pointer;
        margin-bottom: 40px;
        color: $black;
        font-family: $font;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        :hover {
            color: var(--primary, #FF6464);
            transition: 0.1s;
        }
    }
    &_date {
        color: $black;
        font-family: $font;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    &_text {
        margin-top: 11px;
        color: $black;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.section_info {
    color: $black;
    font-family: $font;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 272.727% */
}


.block {
    &_header {
        color: $black;
        font-family: $font;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        cursor: pointer;
        &:hover {
        color: var(--primary, #FF6464);
        transition: 0.1s;
    }
    }
    &_secondline {
        margin-top: 16px;
        display: flex;
        gap: 26px;
    }
    &_text {
        margin-top: 17px;
    }
    &_year {
        border-radius: 16px;
        background: #142850;
        width: 62px;
        height: 25px;
                color: #FFF;
                font-family: $font;
                font-size: 14px;
                font-style: normal;
                font-weight: 900;
    }
    &_class {
        margin-top: -2px;
        color: var(--light, #8695A4);
            font-family: $font;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    }
    &_text {
        color: $black;
        font-family: $font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.svg_line {
    margin-top: 15px    ;
}

.footer {
    margin-top: 134px;
    display: flex; 
    flex-direction: column; 
    text-align: center;
    &_apps {
        justify-content: center;
        display: flex;
        gap: 35px;
    }
    &_copyright {
        margin-top: 26px;
        margin-bottom: 54px;
        text-align: center;
        color: $black;
        font-family: $font;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}


.header_img_mobile {
    display: none;
}

.screen {
    float: left; width: 60%;
}

@media (max-width: 376px) {
    .screen {
        float: unset;
        width: auto;
        text-align: center;
    }

    .header_h1 {
        margin-top: 43px;
        text-align: center;
    }

    .top-nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // background-color: #00BAF0;
        // background: linear-gradient(to left, #f46b45, #eea849);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        color: #FFF;
        height: 50px;
        padding: 1em;
      }
      
      .menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      
      .menu > li {
        margin: 0 1rem;
        overflow: hidden;
      }
      
      .menu-button-container {
        margin-top: -10px;
        display: none;
        height: 100%;
        width: 30px;
        cursor: pointer;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      #menu-toggle {
        display: none;
      }
      
      .menu-button,
      .menu-button::before,
      .menu-button::after {
        display: block;
        background-color: black;
        position: absolute;
        height: 4px;
        width: 30px;
        transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
        border-radius: 2px;
      }
      
      .menu-button::before {
        content: '';
        margin-top: -8px;
      }
      
      .menu-button::after {
        content: '';
        margin-top: 8px;
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::before {
        margin-top: 0px;
        transform: rotate(405deg);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button {
        background: rgba(255, 255, 255, 0);
      }
      
      #menu-toggle:checked + .menu-button-container .menu-button::after {
        margin-top: 0px;
        transform: rotate(-405deg);
      }
      
      @media (max-width: 700px) {

        .nav_ul {
            display: none;
        }

        .menu-button-container {
          display: flex;
        }
        .menu {
          width: 100%;
          position: absolute;
          top: 0;
          margin-top: 66px;
          left: 0;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
        #menu-toggle ~ .menu li {
          height: 0;
          margin: 0;
          padding: 0;
          border: 0;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        #menu-toggle:checked ~ .menu li {
         align-items: center;
          border: 1px solid #333;
          height: 2.5em;
          padding: 0.5em;
          transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
            color: white;
            font-family: $font;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }
        .menu > li {
          display: flex;
          justify-content: center;
          margin: 0;
          padding: 0.5em 0;
          width: 100%;
          color: white;
          background-color: #222;
        }
        .menu > li:not(:last-child) {
          border-bottom: 1px solid #444;
        }
      }

    .container {
        width: 375px;
        margin: 0 auto;
    }
    .svg_line {
        display: none;
    }
    
    .navigation_name {
        color: $black;
        font-family: $font;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px; /* 136.364% */
    }

    .work_blocks {
        flex-direction: column;
        display: flex;
    }
    
    .header_img {
        display: none;
    }
    .header_img_mobile {
        display: block;
        justify-content: center;
        margin: 0 auto;
    }

    .information_viewall {
        display: none;
    }

    .section_info {
        margin: 0 auto;
    }
    .blog_posts {
        flex-direction: column;
        gap: 17px;
    }
    .blog_post {
        padding: 0;
        width: 100%;
    }

    .post {
        &_header {
            padding: 0px 18px 0px 8px;
            margin-bottom: 12px;
            font-size: 25px;
        }
        &_date {
            padding: 0px 18px 0px 8px;
        }
        &_text {
            padding: 0px 18px 22px 8px;
            margin-top: 19px;
        }
    }

    .works {
    }
    
}